@import url('https://fonts.cdnfonts.com/css/minecraft-4');
*{
    font-family: 'Minecraft', sans-serif;
}
.episodios{
    display: flex;
    
}
.episodios figure img{
    max-width: 250px;
    max-height: 150px;
}
header nav ul{
    display: flex;
    text-indent: 15px;
    list-style: none;
}
header{
    text-align: center;
}
