@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}
body{
    margin: 20px;
}
.container__episodios{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    min-height: 400px;
    max-height: 100%;
    border: 2px solid rgb(64, 63, 63);
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    background-image: url(../img/stone.png);
    background-size: cover; 
    padding-bottom: 1%;
}
.card__img{
    width: 95%;
    position: relative;
    top: 5px;
    left: 6px;
}
.card__description{
    padding: 10px;
}
.card__description h2{
    margin-bottom: 10px;
    text-align: center;
}
.card__description p{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.card__button button{
    padding: 10px;
    display: block;
    margin: auto;
    background-color: gray;
}
.card__button :hover{
    background-color: rgb(64, 63, 63);
}
.card__button a{
    color: black;
    text-decoration: none;
}
