@import url('https://fonts.cdnfonts.com/css/minecraft-4');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Minecraft' sans-serif;
}
.formulario{
    display: flex;
    flex-direction: column;
    background-image:url(../img/stone.png);
    gap: 10px;
    padding: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dados_pessoais input[type = text], input[type = email]{
    height: 100%;
    width: 20%;
}
.formulario__titulo{
    text-align: center;
}
.form legend{
    background-image: url(../img/stonedark.png);
    color: silver;
    font-size: 20px;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.form fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(171, 171, 171);
    border: 3px solid rgb(39, 39, 39);
    padding: 10px;
}
.radio, .checkbox{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.gostos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gostos textarea{
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
}
.form__botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.form__botoes button{
    padding: 10px;
    background-color: rgb(171, 171, 171);
    border: 2px solid silver;   
}
.form__botoes button:hover{
    background-color: rgb(58, 58, 58);
    color: silver;
}