*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/stonedark.png);
}
header{
    padding: 30px;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: silver;
    padding: 5px;
}
header nav ul li a:hover{
    outline: 1px ridge;
}

#descPortal{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#descPortal h1{
    text-align: center;
}
#descPortal p{
    text-align: justify;
}
#cadastroDev{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.formulario__titulo{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form fieldset{
    background-image: url(../img/stone.png);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid silver;
}
.form fieldset legend{
    background-image: url(../img/stone.png);
    border: 2px solid silver;
}
.form fieldset .dados__pessoais div{
    display: flex;
    flex-direction: column;
}
.form__subtitles{
    margin-bottom: 10px;   
}
.form input[type="text"], input[type="email"], input[type="tel"], select{
    height: 40px;
    padding: 5px;
}
.sobre_dev{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sobre_dev textarea{
    width: 100%;
    height: 250px;
    resize: none;
    padding: 15px;
}
.form__botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.form__botoes button{
    width: 80px;
    height: 40px;
    background-image: url(../img/stone.png);
    cursor: pointer;
    border: 2px solid silver;
}
.form__botoes button:hover{
    background-image: url(../img/stonedark.png);
}