@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: url(../img/stonedark.png);
}

.episodios{
    display: flex;
    color: black;
    font-size: 20px;
}
.episodios figure img{
    max-width: 250px;
    max-height: 150px;
}
.episodios, header{
    background-image: url(../img/stone.png);
}
h3{
    margin-left: 5px;
}
header nav ul{
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-indent: 15px;
    margin-left: -15px;
}
nav ul li a{
    color: rgb(11, 11, 11);
    text-decoration: none;
    font-family: 'Minecraft';
    font-size: 20px;
}
:link:hover{
    outline:dashed silver;
}
.nav:hover{
    width: 100%;
}
header{
    text-align: center;   
}
h1, h2{
    font-family: 'Minecraft', sans-serif;
}
h1{
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px silver
}
h2{
    color: silver;
    text-shadow: 2px 2px black
}
main{
    width: 100%;
    height: 100%;
}
#banner{
    background-image: url(../img/banner.png);
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-spacing: 10px;
}
#banner span{
    font-size: 33px;
    height: 40px;
    font-family: 'Minecraft', sans-serif;
    text-shadow: 1px 1px black;
    color: silver;
}
.elenco{
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    color: silver;
    margin-top: 100px;
}
.elenco p, .elenco h3{
    font-family: 'Minecraft', sans-serif;
    text-shadow: 2px 2px black;
}
hr{
    visibility: hidden;
}
.sinopse{
    font-size: 22px;
}
.sinopse,h3{
    text-shadow: 1px 1px black;
}
footer{
    background-image: url(../img/bedrock.png);
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer ul{
    list-style: none;
    color: white;    
    display: flex;
    text-shadow: 2px 2px black;
    text-indent: 10px;
    font-size: 20px;
    
}
footer ul li a{
    color: white;
    text-decoration: none;
}
.imagem{
    width: 100%;
    display: flex;
    justify-content: center;
}
